<div>
    <div class="team-mates-cards about-us">
        <div class="our-mission row">
          <div class="col-sm-12 col-md-6 image-div">
            <img src="../../assets/about-page-img1.jpg" class="graph-images">
          </div>
          <div class="our-mission-text col-sm-12 col-md-6">
            <h2 class="about-header1">About Us</h2>
            <p class="about-content">
              <span>Welcome to Dream Today, where we strive to help you achieve your dreams.</span>
              <span>Our platform offers three services to help you succeed.</span>
              <span>Our job search service connects users with their dream job and helps hiring teams find the perfect candidate.</span>
              <span>Our website building service creates secure and user-friendly websites to help you stand out online.</span>
              <span>Lastly, our resume building service helps users create impressive resumes to impress hiring teams.</span>
              <span>Our ultimate goal is to provide satisfaction and security to our users.</span>
            </p>      
          </div>
        </div>
    </div>
       
      <div class="team-mates-cards our-commitment">
        <div class="our-mission row">
            <div class="our-mission-text col-sm-12 col-md-6">
                <h2 class="about-header1">Our Commitment</h2>
                <p class="Commitment-content">
                    <span>Dream Today is committed to providing a professional and reliable platform for both job seekers and hiring</span><span>teams.
                    We prioritize user experience and security, ensuring that our website meets the highest standards of </span><span>quality and reliability.
                    With our team's expertise in web technologies, we stay ahead of the curve to deliver</span><span> innovative solutions that meet the evolving needs of our users.
                    <a>Join us</a> on the journey to realizing your</span><span> dreams. Dream Today - where careers take flight.</span>
                </p>
            </div>
          <div class="col-sm-12 col-md-6 image-div">
            <img src="../../assets/about-img2.png" class="graph-images">
          </div>
         
        </div>
      </div>    
</div>


  <div class="parent-div-meet-team">
    <div class="meet-team">
      <h2> Meet The Team </h2>
    </div>
    <div class="team-mates-cards">
      <div class="row">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center ">
          <div class="card text-center" style="width: 18rem;">
            <img src="../../../assets/Murali.png" class="card-img-top" alt="..." style="object-fit: contain;">
            <div class="card-body">
              <h5 class="card-title">Podishetti Murali</h5>
              <p><b>Founder & CEO</b></p>
            </div>
          </div>
        </div>
   
        <div class="col-md-4 col-sm-12 text-center d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="square">
            <img src="../../../assets/SantaRao-Akuru.png" class="card-img-top" alt="..." style="object-fit: contain;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Akuru Santa Rao</h5>
              <p><b>Tech Lead</b></p>
            </div>
          </div>
        </div>
   
        <div class="col-md-4 col-sm-12 text-center d-flex justify-content-center">
          <div class="card " style="width: 18rem;">
            <img src="../../../assets/Thirupathi_DT.png" class="card-img-top" style="object-fit: contain;"  alt="...">
            <div class="card-body">
              <h5 class="card-title">Mondi Tirupathi</h5>
              <p><b>Project Manager</b></p>
            </div>
          </div>
        </div>
   
      </div>
    </div>
  </div>
