<div class="footer">
    <div class="footer-header">
        <img class="logo-image" src="../../../assets/DT_logo.png">
        <h3> Way2Vision </h3>
    </div>
    <div class="footer-icons">
        <div style="margin-left:8px">
            <a href="mailto:dreamtoday.official@gmail.com">
                <img src="../../../assets/Gmail_Icon.png" class="icon first-icon" alt="Gmail">
            </a>      
        </div>
        <div>
            <a href="https://www.linkedin.com/in/murali-podishetti-86a614221" target="_blank">
                <img src="../../../assets/LinkedIn_Icon.png" class="icon" alt="Linked In">
            </a>
        </div>       
         <div>
            <img src="../../../assets/Twitter_Icon.png" class="icon" alt="Twitter">
        </div>
        <div>
            <a href="https://www.instagram.com/krishna_11_krishna13" target="_blank">
                <img src="../../../assets/Instagram_Icon.png" class="icon last-icon" alt="Instagram">
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <h6> &#64;Copyright 2024 </h6>
    </div>
</div>
