<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Dream Today</a>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid custom-container d-flex justify-content-center contactus text-white ">
        <div class=" container d-flex text-center align-items-center justify-content-center p-0">
            <div class="container ">
                <h2>CONTACT</h2>
                <p>500 Terry Francois Street, 6th Floor, San Fransisco, CA 94158</p>
                <p>
                    <a href="mailto:dreamtoday@gmail.com"
                        style="color:inherit;text-decoration: none;">info&#64;mysite.come</a>
                </p>
                <a href="tel:+123-456-7890" style="color:inherit;text-decoration: none;">123-456-7890</a>
            </div>
        </div>
        <div class="container image-container p-0" >
            <img src="https://images.pexels.com/photos/6146823/pexels-photo-6146823.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="" width=100%   >
        </div>
</div>
<div class="container-fluid custom-container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!4v1707756543379!6m8!1m7!1sFFK1rZBH2Ge__HB0A4664g!2m2!1d17.41461416802055!2d78.58479443867593!3f250.5!4f1.7000000000000028!5f0.7820865974627469"
            width=100% height="300" style="padding: 10px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="text-center">
        <a href="mailto:dreamtoday@gmail.com" style="color: black; text-decoration: none;">info&#64;mysite.com</a>
        <p>&#64;2024 by Dream Today. Proudly created with Wix.com</p>
</div>