<div class="split-bg">
    <div class="header-text">
      <h1> Find Your</h1>
      <h1>Dream Job</h1>
      <button class="btn btn-outline-primary button-style"> Join Now</button>
    </div>
    <div class="header-side-image-div">
      <img src="../assets/DT_logo.png" class="header-side-image">
    </div>
  </div>
  
  
  <div>
    <div class="video-background">
      <video autoplay muted loop  [src]="randomVideoUrl" id="bg-video">
        <!-- <source src="../assets/floating-liquid-from-energetic-blue-particles.mp4" type="video/mp4"> -->
        Your browser does not support the video tag.
      </video>
      <div class="content">
        <h1>Services</h1>
      </div>  
  
      <div class="services ">
        <div class="container">
          <div class="row">
            <div class="card">
              <h4> Dream Today Carriers</h4>
              <p>Dream Today is the perfect solution for job seekers and hiring managers alike.
                 Our platform matches the best candidates with the most suitable job openings,
                 ensuring a seamless and efficient hiring process. Let us help you find your dream job or
                 your dream candidate today.
              </p>
            </div>
  
            <div class="card">
              <h4> Web Application Design & Build</h4>
              <p>Dream Today team is dedicated to creating websites that are both user-friendly and secure.
                 We understand the importance of having a website that not only looks great, but also functions
                 smoothly and keeps your visitors' information safe. Let us help you build the website of your dreams.
              </p>
            </div>
  
            <div class="card">
              <h4> Resume Building</h4>
              <p>Dream Today is your go-to platform for creating a professional resume that will help you stand out from the crowd. 
                Whether you're a fresher or an experienced candidate, our expert team will guide you through the process of building 
                a resume that showcases your skills and experience in the best possible light. With Dream Today, you can be confident
                that your resume will make a great first impression and help you land your dream job.
              </p>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  <div>
    <div class="our-mission row">
      <div class="col-sm-12 col-md-6 image-div"> 
        <img src="../assets/USAA_News.jpg" class="graph-image">
      </div>
      <div class="our-mission-text col-sm-12 col-md-6"> 
        <h1> Our Mission</h1>
        <h6> Why Choose Us</h6>
        <p>At Dream Today, we believe that everyone deserves to find their dream job. Our team of experts is dedicated 
           to helping you achieve your career goals. With our user-friendly platform and personalized approach,
           we make the job search process simple and stress-free. Whether you're a fresh graduate or an experienced professional,
           we have the resources and expertise to help you succeed. Explore our features and let us help you find your dream job today!
        </p>
      </div>
    </div>
  </div>
  